@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./styles/variables.css";
@import "./styles/navbar.css";
@import "./styles/home.css";
@import "./styles/login.css";
@import "./styles/footer.css";


:root {

  font-family: 'Poppins', sans-serif;

  scrollbar-color: var(--textColorViolet) rgba(0,0,0,0) !important;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  
}

body {
  transition: all .5s ease;
}

.body-light {
  background-color: white;
  color: var(--textColorDark);
}

.body-dark {
  background-color: var(--mainColorDark);
  color: var(--textColorLight);
}



h1, h2, h3, h4, h5, h6 {
  color: var(--textColorViolet);
}

a {
  text-decoration: none;
}

.body-light a {
  color: var(--textColorDark);
}

.body-dark a {
  color: var(--textColorLight);
}



@media (min-width: 768px) {

  .dashboard-layout-container {
    overflow: visible;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .dashboard-layout {
    padding: 0 15rem;
    overflow: visible;
    transition: all .5s;
  }

}
