@import "../styles/variables.css";


.home-body-container {
    height: 80vh;
    display: flex;
    justify-content: center;
}



.shortenerbox {
    display: flex;
    flex-direction: column;
    width: 500px;
    border-radius: 25px;
    height: fit-content;
    margin-top: 3rem;
}

.body-light .shortenerbox {
    background-color: var(--textColorLight2);
    box-shadow: -2px 0px 38px -4px rgba(0,0,0,0.45);
    -webkit-box-shadow: -2px 0px 38px -4px rgba(0,0,0,0.45);
    -moz-box-shadow: -2px 0px 38px -4px rgba(0,0,0,0.45);
}

.body-dark .shortenerbox {
    background-color: var(--textColorLight2);
    box-shadow: -2px 0px 38px -4px rgba(142, 113, 234, 0.45);
    -webkit-box-shadow: -2px 0px 38px -4px rgba(142, 113, 234, 0.45);
    -moz-box-shadow: -2px 0px 38px -4px rgba(142, 113, 234, 0.45);
}

.shortener-title {
    background-color: var(--footerColor);
    padding: 3rem;
    text-align: center;
}

.shortener-title h2 {
    color: var(--textColorLight2);
}


.url-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-wrapper {
    margin-top: 2rem;
    padding: 0 3rem;
}
.input-wrapper input {
    background-color: rgb(225, 225, 225);
}

.url-btn-container {
    margin: 3rem;
}

.url-form-button {
    margin-top: 3rem !important;
    
}

.final-url-container {
    margin-top: 2rem;
    padding: 1rem;
    background-color: var(--successGreen);
    border: 2px solid var(--textGreen);
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3rem 3rem;
}

.final-url-title h2 {
    color: var(--textGreen);
}

.final-url-container a {
    margin-top: .5rem;
    color: var(--footerColor) !important;
    font-weight: 700;
}



.final-url-container-error {
    margin-top: 2rem;
    padding: 1rem;
    background-color: var(--errorRed);
    border: 2px solid var(--textRed);
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3rem 3rem;
}

.final-url-title-error h2 {
    color: var(--textRed);
}