@import './variables.css';


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2vw 3vw;
    align-items: center;
    overflow: hidden !important;
    z-index: 2;
}


.nav-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 90vh;
    padding: 100px 0;
    overflow: hidden;
    top: 73.71px;
    transition: all .5 ease;

}




.logo-text-container {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
}

.logo-container {
    width: 70px;
    margin: 10px 10px;
}

.logo {
    width: 100%;
}

.togglerIconContainer , .logout-btn {
    width: fit-content;
    display: flex;
    align-items: center;
}

.togglerIconContainer:hover, .togglerIconContainer:focus {
    cursor: pointer;
    
}
.logout-btn:hover .togglerIcon {
    color: var(--textColorViolet);
}

.logout-btn:hover, .logout-btn:focus {
    cursor: pointer;
    
}
.togglerIconContainer:hover .togglerIcon {
    color: var(--textColorViolet);
}

.togglerIcon {
    font-size: 20px;
    transition: all .5s;
}

@media (min-width: 768px) {

    .nav-items-container {
        flex-direction: row;
        width: 40%;
        justify-content:flex-end;
        background-color: transparent !important;
        position: static;
        padding: 0;
        padding-right: 2rem;
        height: auto;
        transition: all .5s ease;
        align-items: center;
        gap: 4rem;
    }

    .logo-container {
        width: 40px;
    }

    .body-light .nav-items-container {
        background-color: var(--thirdColorLight);
        transition: all .5s ease;
    }
    .body-dark .nav-items-container {
        background-color: var(--mainColorDark);
        transition: all .5s ease;
    }
}