:root {
    --mainColorLight:#FCFCFC;
    --mainColorDark:#22242F;
    --mainColorApricot:#f88f58;
    --secondaryColorLight:#F7F7F7;
    --thirdColorLight:#F5F5F9;
    --secondaryColorDark:#333647;
    --thirdColorDark:#2B2C40;
    --mainColor:#8710D8;
    --mainColor1:#f88f58;
    --mainColor2:#DA00D8;
    --mainColor3:#5624D0;
    --mainColor4:#453DD8;
    --mainColor5:#696CFF;
    --detailsColor1:#ff4343;
    --detailsColor2:#FB4222;
    --detailsColor3:#FA5591;
    --detailsColor4:#F66CA1;
    --textColorLight:#CBCBE2;
    --textColorLight2:#F5F4FF;
    --textColorDark: #566A7F;
    --textColorApricot: #f88f58;
    --textColorViolet: #696CFF;
    --footerColor:#293646;
    --softTone1:#fdaaca;
    --softTone2:#b4b5fc;
    --successGreen:#78ff7a;
    --textGreen:#0f841d;
    --errorRed:#ff7878;
    --textRed:#840f0f;
}